body {
    background-color: #f4f7f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
    margin-top: 15px;
}

.container {
    background: white;
    padding: 2 rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    max-width: 1000px;
    text-align: center;
}

.details ul{
    list-style: none;
    padding: 0;
    text-align: left;
}

.details li{
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.btn {
    display: inline-block;
    background-color: #0077b5;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #005582;
    cursor: pointer;
    transition: 0.3s;
}

.btn:active {
    background-color: #004466;
    transform: translateY(2px);
    box-shadow: none;
}